In [1]:
import os
import pandas as pd
import numpy as np

from imblearn.over_sampling import SMOTE

from sklearn import preprocessing
from sklearn.pipeline import Pipeline

#### somte sampling

In [2]:
def Smoter(X, y, is_random=False):
    if is_random == True:
        random_lst = list(np.random.randint(0, 1000, 4))
    elif is_random == False:
        random_lst = [0] * 4

    print("rs:", random_lst)
    sm = SMOTE(random_state=random_lst[2], kind = 0.24)
    X_smote, y_smote = sm.fit_sample(X, y)

    return X_smote, y_smote

# load all data

In [3]:
path = os.getcwd()+'/../data/water/csv/20122018freshwater.csv'

data = pd.read_csv(path, na_values = np.nan)

print(data.dtypes)
print(data.shape)

水系              object
点位名称            object
河流名称            object
pH             float64
DO(mg/l)       float64
CODMn(mg/l)    float64
NH3-N(mg/l)    float64
本周水质            object
dtype: object
(33614, 8)

In [4]:
drop_columns = []
continuous_features = ['pH', 'DO(mg/l)', 'CODMn(mg/l)', 'NH3-N(mg/l)']
cat_features =['水系', '点位名称', '河流名称']

In [5]:
# 独热编码
data_dummies = pd.get_dummies(data, columns=cat_features)

In [6]:
# 舍弃无用特征
data_dummies.drop(drop_columns, 1, inplace=True)

In [7]:
# 删除空行
data_dummies = data_dummies.dropna(axis=0)

In [8]:
data_dummies[data_dummies.isnull().values==True]

Empty DataFrame
Columns: [pH, DO(mg/l), CODMn(mg/l), NH3-N(mg/l), 本周水质, 水系_内陆河流太湖流域, 水系_太湖流域, 水系_巢湖流域, 水系_巢湖流域滇池流域, 水系_松花江流域, 水系_海河流域, 水系_淮河流域, 水系_滇池流域, 水系_珠江流域, 水系_辽河流域, 水系_长江流域, 水系_黄河流域, 点位名称_上海青浦急水港, 点位名称_中卫新墩, 点位名称_中山横栏, 点位名称_临江苇沙河, 点位名称_临沂涝沟桥, 点位名称_临沂清泉寺, 点位名称_临沂重坊桥, 点位名称_丹东江桥, 点位名称_丹江口胡家岭, 点位名称_乌海海勃湾, 点位名称_乐山岷江大桥, 点位名称_九江河西水厂, 点位名称_云南昆明西苑隧道, 点位名称_云南昆明观音山, 点位名称_亳州颜集, 点位名称_伊春嘉荫, 点位名称_佳木斯江心岛, 点位名称_依兰牡丹江口, 点位名称_信阳淮滨水文站, 点位名称_信阳蒋集水文站, 点位名称_兰州新城桥, 点位名称_内蒙乌海海勃湾, 点位名称_内蒙包头画匠营子, 点位名称_内蒙古呼伦贝尔大铁桥, 点位名称_内蒙古呼伦贝尔嵯岗, 点位名称_内蒙古呼伦贝尔黑山头, 点位名称_凭祥平而关, 点位名称_包头画匠营子, 点位名称_北京古北口, 点位名称_北京密云古北口, 点位名称_北京沿河城, 点位名称_北京门头沟沿河城, 点位名称_南京林山, 点位名称_南宁老口, 点位名称_南昌滁槎, 点位名称_南阳陶岔, 点位名称_合肥湖滨, 点位名称_吉林临江苇沙河, 点位名称_吉林吉林溪浪口, 点位名称_吉林延边圈河, 点位名称_吉林敦化新甸, 点位名称_吉林松原松林, 点位名称_吉林溪浪口, 点位名称_吉林白城白沙滩, 点位名称_吉林白山绿江村, 点位名称_吉林长春松花江, 点位名称_吉林长春松花江村, 点位名称_吉林集安上活龙, 点位名称_同江, 点位名称_周口沈丘闸, 点位名称_周口鹿邑付桥闸, 点位名称_呼伦贝尔大铁桥, 点位名称_呼伦贝尔嵯岗, 点位名称_呼伦贝尔黑山头, 点位名称_哈尔滨铁路桥, 点位名称_嘉兴斜路港, 点位名称_嘉兴王江泾, 点位名称_四川乐山岷江大桥, 点位名称_四川宜宾凉姜沟, 点位名称_四川广元清风峡, 点位名称_四川攀枝花龙洞, 点位名称_四川泸州沱江二桥, 点位名称_大兴安岭呼玛, 点位名称_天水牛背, 点位名称_天津三岔口, 点位名称_天津果河桥, 点位名称_宁夏中卫新墩, 点位名称_宁夏石嘴山麻黄沟, 点位名称_安庆皖河口, 点位名称_安徽, 点位名称_安徽亳州颜集, 点位名称_安徽安庆皖河口, 点位名称_安徽宿州杨庄, 点位名称_安徽宿州泗县公路桥, 点位名称_安徽巢湖裕溪口, 点位名称_安徽淮北小王桥, 点位名称_安徽淮南石头埠, 点位名称_安徽滁州小柳巷, 点位名称_安徽界首七渡口, 点位名称_安徽蚌埠蚌埠闸, 点位名称_安徽阜南王家坝, 点位名称_安徽阜阳张大桥, 点位名称_安徽阜阳徐庄, ...]
Index: []

[0 rows x 343 columns]

In [9]:
X = data_dummies.drop(['本周水质'], axis=1) # Series
y = data_dummies['本周水质'] # Series

In [10]:
print("水质分布情况:")
print(y.value_counts())
print("\n各特征类型分布情况:")
print(data_dummies.dtypes.value_counts())

水质分布情况:
2    13272
3     8797
4     5472
1     2438
6     2146
5     1487
Name: 本周水质, dtype: int64

各特征类型分布情况:
uint8      338
float64      4
object       1
dtype: int64

In [11]:
data_dummies.head()

,pH,DO(mg/l),CODMn(mg/l),NH3-N(mg/l),本周水质,水系_内陆河流太湖流域,水系_太湖流域,水系_巢湖流域,水系_巢湖流域滇池流域,水系_松花江流域,...,河流名称_闽江,河流名称_颖河,河流名称_额尔古纳河,河流名称_额尔齐斯河,河流名称_饮马河,河流名称_鸭绿江,河流名称_黄河,河流名称_黎河,河流名称_黑茨河,河流名称_黑龙江
0,7.09,10.0,5.7,0.33,3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6.94,12.0,5.4,0.40,3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7.20,9.6,4.9,0.34,3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6.80,11.6,6.3,0.59,4,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6.75,11.0,6.2,0.64,4,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
output_path = os.getcwd()+'/../data/water/csv/20122018freshwater_dummies.csv'
data_dummies.to_csv(output_path, encoding='utf-8', index=False)

In [13]:
# 再存储只保存数字类特征的data
drop_columns = ['水系', '点位名称', '河流名称']
data.drop(drop_columns, 1, inplace=True)
# 删除空行
data = data.dropna(axis=0)

In [14]:
data[data.isnull().values==True]

Empty DataFrame
Columns: [pH, DO(mg/l), CODMn(mg/l), NH3-N(mg/l), 本周水质]
Index: []

In [15]:
output_path = os.getcwd()+'/../data/water/csv/20122018freshwater_four_feature.csv'
data.to_csv(output_path, encoding='utf-8', index=False)